@charset "utf-8";

@font-face {
    font-family:'notoSansKR';
    src: url(../font/NotoSansKR-Thin.eot);
    src: url(../font/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Thin.woff) format('woff'),
         url(../font/NotoSansKR-Thin.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family:'notoSansKR';
    src: url(../font/NotoSansKR-Light.eot);
    src: url(../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Light.woff) format('woff'),
         url(../font/NotoSansKR-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face{
    font-family:'notoSansKR';
    src: url(../font/NotoSansKR-Regular.eot);
    src: url(../font/NotoSansKR-Regular?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Regular.woff) format('woff'),
         url(../font/NotoSansKR-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family:'notoSansKR';
    src: url(../font/NotoSansKR-Medium.eot);
    src: url(../font/NotoSansKR-Medium?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Medium.woff) format('woff'),
         url(../font/NotoSansKR-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family:'notoSansKR';
    src: url(../font/NotoSansKR-Bold.eot);
    src: url(../font/NotoSansKR-Bold?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Bold.woff) format('woff'),
         url(../font/NotoSansKR-Bold.ttf) format('truetype');
    font-weight: 700;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'notoSansKR', sans-serif;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, address, small, strong, time,
dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, main, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, figcaption, figure, 
header, footer, main, menu, nav, section{
	display: block;
}
span{
    display: inline-block;
}
ol, ul {
	list-style: none;
}
img{
    display: block;
}
button, input[type=button]{
    cursor: pointer;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: block;
    color: inherit;
}
.hide{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
